{% load static %}
<html lang="en">


{% block head %}
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Soluciones Integrales KALEL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "web/assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "web/assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "web/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/animate.css/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "web/assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "web/assets/css/style.css" %}" rel="stylesheet">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


</head>
{% endblock head %}



<body>
  {% block header %}

    <header id="header" class="fixed-top">
    <div class="col-lg-10 col-lg-offset-1 d-flex align-items-center">

      <a href="{% url 'inicio' %}" class="logo mr-auto"><img src="{% static "web/img/logo2.png" %}" width="200" alt="" class="img-fluid"><span class="titulosik">Soluciones Integrales Kalel SAC</span></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'inicio' %}">Home</a></li>

          <li class="drop-down"><a href="{% url 'nosotros' %}">Nosotros</a>
            <ul>
              <li><a href="{% url 'nosotros' %}">nosotros</a></li>
              <li class="drop-down"><a href="#">Programas</a>
                <ul>
                  {% for programa in programas %}
                    <li><a href="">{{ programa.nombre }}</a></li>
                    
                  {% endfor %}
                  
                </ul>
              </li>
            </ul>
          </li>

          <li><a href="{% url 'servicio' %}">Servicios</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contacto' %}">Contactanos</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->
    
  {% endblock header %}
  <!-- ======= Header ======= -->
  
  {% block container %}   
  {% endblock container %}
  <!-- ======= Hero Section ======= -->
  
  {% block footer %}
     <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>Kalel SAC</h3>
            <p>
              {{ nosotros.direccion }} <br><br>
            
              <strong>Phone:</strong> {{nosotros.telefono}}<br><br>
              <strong>Email:</strong> {{ nosotros.email}}<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsolucionesintegraleskalel%2F&tabs=timeline&width=300&height=250&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
           
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.aulavirtual.kalelsac.com">Aula Virtual</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.consultas.kalelsac.com">Consulta tu Carnet</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://tarjetacontrol-losolivos.com/">Tarjeta Control los Olivos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.youtube.com/channel/UCjwuBMG-IwUBSyP2CjYSwJg">Youtube</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/solucionesintegraleskalel/">Facebook</a></li>
              <li> <script src="https://apis.google.com/js/platform.js"></script>
                  <div class="g-ytsubscribe" data-channelid="UCjwuBMG-IwUBSyP2CjYSwJg" data-layout="full" data-count="hidden"></div>
              </li>
            </ul>
          </div>

         

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>KalelSAC</span></strong>. Derechos Reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  {% endblock footer %}
 

  <a href="https://api.whatsapp.com/send?phone=51940434785" target="_blank" class="boton-flotante"><i class="fab fa-whatsapp"style="font-size:50px;"></i></a>



{% block js %}
   <!-- Vendor JS Files -->
  <script src="{% static "web/assets/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "web/assets/vendor/jquery-sticky/jquery.sticky.js" %}"></script>
  <script src="{% static "web/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/waypoints/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "web/assets/vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "web/assets/js/main.js" %}"></script>
{% endblock js %}
 

</body>

</html>