{% extends "web/base.html" %}

{% load static %}

{% block container %}
  
   <section id="hero">
    
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

            {% if slider_one %}
                <div class="carousel-item active" style="background-image: url({{ slider_one.imagen_principal.url }});">
                  <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                      <h2>{{ slider_one.titulo }}</span></h2>
                      <p>{{ slider_one.descripcion}}</p>
                      {% if slider_one.blog_id %}
                        <div class="text-center"><a href="{% url 'detalleblog' slider_one.blog_id__slug %}" class="btn-get-started">Leer Más</a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>


            {%else%}
               <div class="carousel-item active" style="background-image: url({% static "web/assets/img/slide/slide-1.jpg" %});">
                <div class="carousel-container">
                  <div class="carousel-content animate__animated animate__fadeInUp">
                    <h2>Bievenido a Kalel<span>SAC</span></h2>
                    <p>Más de 50 mil personas han sido capacitadas y ya cuentan con su brevete</p>
                    <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
                  </div>
                </div>
                </div>
            {% endif %}
             
            {% for sliders in slider_all %}

              <div class="carousel-item" style="background-image: url({{ sliders.imagen_principal.url }});">
                <div class="carousel-container">
                  <div class="carousel-content animate__animated animate__fadeInUp">
                    <h2>{{ sliders.titulo }}</span></h2>
                    <p>{{ sliders.descripcion}}</p>
                    {% if sliders.blog_id %}
                      <div class="text-center"><a href="{% url 'detalleblog' sliders.blog_id__slug %}" class="btn-get-started">Leer Más</a></div>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
            {% empty %}
                 <H1>No hay Sliders</H1>
            {% endfor %}

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Programas</strong></h2>
        </div>        
        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
           {% for programa in programas  %}
          <div class="col-lg-3 col-md-4 col-6">
            <div class="section-title">
              <h5 class="text-primary">{{programa.nombre|upper}}</h5>
            </div> 
           
              {% if programa.imagen %}
                <a href="{{programa.url}}" target="_blank"><img src="{{ programa.imagen.url }}" class="img-fluid img-program" alt="{{ programa.nombre }}"> </a>               
              {% endif %}
           
          </div>
          {% empty %}
              <h4>No hay socios aun</h4>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Our Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nosotros</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-12" data-aos="fade-right">
            <h4>{{ nosotros.nosotros}}</h4>
          </div>
          
        </div>

      </div>
    </section><!-- End About Us Section -->
    
    <!-- ======= Services Section ======= -->
    {% include "web/section/servicios.html" %}

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Cursos - Aula Virtual</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
           
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">
          {% for curso in cursos %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              {% if curso.imagen_referencial %}
                <img src="{{ curso.imagen_referencial.url }}" class="img-fluid" alt="kalelsac">
                
              {% endif %}
              <div class="portfolio-info">
                <h4>{{ curso.titulo}}</h4>
                <p>Tomar Curso</p>
                <a href="https://www.aulavirtual.kalelsac.com" target="_blank"><i class="bx bx-plus"></i></a>
               
              </div>
            </div>
          {% empty %}
            <h2>no hay cursos</h2>
          {% endfor %}        

        </div>

      </div>
    </section><!-- End Portfolio Section -->     
     {% include "web/section/socios.html" %}      
  </main><!-- End #main -->
  
{% endblock container %}