 <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Socios Estrategicos</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
          {% for socio in socios  %}

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              {% if socio.imagen %}
                <a href="{{socio.web}}" target="_blank"><img src="{{ socio.imagen.url }}" class="img-fluid" alt="{{ socio.titulo }}"> </a>               
              {% endif %}
            </div>
          </div>
          {% empty %}
              <h4>No hay socios aun</h4>
          {% endfor %}
         
        </div>

      </div>
</section><!-- End Our Clients Section -->